//
//BASE

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  color: var(--mainText);
  font-size: 1.4rem;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: var(--secondaryBackground);
}

body {
  overflow-y: scroll;
}

//
//CONTAINERS

.sizeContainer {
  width: 95%;
  margin: 0 auto;

  @media (min-width: 1100px) {
    width: 1000px;
  }
}

.flexSimpleGrid {
  display: flex;

  & > * {
    width: 100%;
    @media (max-width: $bp-med) {
      width: 90%;
      text-align: center;
    }
  }

  @media (max-width: $bp-med) {
    flex-direction: column;
    align-items: center;
  }
}

.bgMainColor {
  background-color: var(--mainBackground);
}

//
//INPUT
input {
  width: 100%;
  height: 3rem;
  line-height: 4rem;
  background-color: var(--secondaryBackground);
  border-radius: 0;
  border: none;

  border-top: 0.1rem solid transparent;
  border-bottom: 0.1rem solid var(--secondaryText);
  transition: 0.2s all;

  font-weight: 600;

  color: var(--secondaryTextLight);

  &:not([type="checkbox"]) {
    opacity: 30%;
    &:focus {
      opacity: 100%;
      border-top: 0.3rem solid transparent;
      border-bottom: 0.3rem solid var(--secondaryText);
      color: var(--secondaryText);
      outline: none;
    }
  }

  &[type="checkbox"] {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
    appearance: none;
    border: 0.1rem solid var(--secondaryText);
    border-radius: 0;
    transition: 0.1s all;

    &:checked {
      background-color: var(--secondaryText);
    }
  }
}
